body {
  background-color: #b81350;
}

.container h2 {
  font-size: 3.5rem;
  color: white;
}

.card {
  background-color: white;
}

form .label {
  text-align: center;
  margin: 10px 0;
  color: #b81350;
}

form .input {
  background-color: white;
  border: 1px solid #b81350;
  border-radius: 5px;
}

.card #nome-passeggero {
  background-color: #808080;
  height: 100%;
}

.row#dati-biglietto {
  min-height: 100px;
}
